.ui {
  margin: 10px 0;
}

#converter {
  border: 1px dashed #666;
  width: 320px;
  height: 320px;
}

#aw {
  height: 320px;
  width: 320px;
  position: relative;
}
.dot {
  width: 20px;
  height: 20px;
  position: absolute;
}

#output {
  max-width: 100%;
}

.top-100 div {
  top: 100px;
}
.top-120 div {
  top: 120px;
}
.top-140 div {
  top: 140px;
}
.top-160 div {
  top: 160px;
}
.top-180 div {
  top: 180px;
}
.top-200 div {
  top: 200px;
}
.top-220 div {
  top: 220px;
}
